<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About QuickCloud</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <a href="/" >Main</a>
    <a href="/create">Create</a>
    <a href="/info" class="active">Info</a>
</header>
<div class="main_container">



    <section class="info-section">
        <h3>QuickCloud</h3>
        <p>QuickCloud is a simple yet powerful app that allows you to quickly transfer data from one device to another. No account needed, no complicated setup - just create, share, and access your data from anywhere!</p>
    </section>
    <section class="info-section">
        <h3>How It Works</h3>
        <div class="step">
            <div class="step-number">1</div>
            <div class="step-content">
                <p>Create a cloud where you put all the information you need (it can be text, files, and photos).</p>
            </div>
        </div>
        <div class="step">
            <div class="step-number">2</div>
            <div class="step-content">
                <p>Write down the code of the cloud, which you will receive after creation. You also have the possibility to send the code to e-mail (in the future it will be possible to send to Telegram).</p>
            </div>
        </div>
        <div class="step">
            <div class="step-number">3</div>
            <div class="step-content">
                <p>From another device, go to <a href="https://quickcloud.xyz" target="_blank">quickcloud.xyz</a>, enter your Cloud Code, and get all your information.</p>
            </div>
        </div>
    </section>
    <section class="info-section">
        <h3>Contact</h3>

        <div class="contact-methods">
            <a href="mailto:shidloalex@gmail.com">
            <div class="contact-card">
                <h3>Email</h3>
            </div>
            </a>
            <a href="https://t.me/bitesait" target="_blank">
            <div class="contact-card">
                <h3>Telegram</h3>
            </div>
            </a>
        </div>
    </section>
</div>
</body>
</html>